<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books & Friends</title>
</head>
<body class="ml-5">
	<h1>Книги и друзья</h1>
	<ul class="list-group  list-group-flush">
		{% for book in books %}
		    <ul class="list-group"><h1 class="h4 text-left font-weight-bold mt-5">{{book.title}}</h1>
		    <li class="list-group-item">
		        <p class="font-italic">{{book.author}}</p> 
		        <p class="font-weight-light">{{book.description|truncatechars:200}}</p>
		    {% if book.friend %}
		    <p>Имя друга: <span class="badge badge-secondary">{{book.friend}}</span></p>
		    {% endif %}
		    <a class='btn btn-primary' href="{% url 'p_library:book_friend_update' book.id %}">Изменить книгу</a>
		    </ul>
		{% endfor %}
	</ul>
</body>